* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: beige;
}

.container {
    width: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px 0.1px ;
    background-color: #fff;
}

.container-main h1 {
    color: blue;
    font-size: 40px;
}
.container-main p, h1 {
    text-align: center;
    padding: 15px 0;
}

.container .login {
    padding: 0 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px 0.2px rgba(0, 0, 0, 0.3)
}

form input[type=submit] {
    color: #fff;
    font-size: 18px;
    background-color: blue;
}

/* form input[type=text]:active {
    border: none;
} */

.container .links {
    text-align: center;
    padding: 10px 0 30px 0 ;
}

.links a {
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
}